$color-black: #000;
$color-white: #fff;
$color-dark-gray: #333;
$color-light-gray: #f3f3f3;
$color-light-blue: #93c5fd;
$color-light-green: #6ee7b7;
$color-primary-blue: #007bff;
$color-light-yellow: #fef3c7;
