@import '../../../../styles/vars';

.navbar-container {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $color-light-green;

  ul {
    gap: 20px;
    display: flex;
    margin-left: auto;
    padding-right: 37px;

    li {
      a {
        font-weight: 700;
        color: $color-black;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $color-white;
        }

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
